@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Prompt:400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
}
/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(135, 5, 221); 
    border-radius: 10px;
  }
  
  
nav{
    text-transform: uppercase;
    position: relative;
}

header{
    width: 100vw;
    height: 90vh;
    overflow-x: hidden;
    background: linear-gradient(to left top, rgba(219, 26, 100, 0.623), rgba(71, 13, 231, 0.555));
}
header nav{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

li{
    list-style: none;
}
.logo{
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    flex-direction: row;
}
.logo .circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: transparent;
    border: 3px solid white;
    margin-right: 3px;
}
.mobile-toogle{
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
}
.mobile-toogle .line{
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 30px;
    margin-bottom: 5px;

}

nav .inner-nav{
    /* background: green; */
    width: 90%;
    margin: 0 auto;
    height: 100px;
    text-align: center;
}

/****header-content**/

.header-content{
    display: flex;
    flex-direction: column;
    margin: auto 0;
    text-align: center;
}
.header-img img{
    width: 55%;
    max-width: 450px;
    height: ;
}
.content{
    margin-top: 30px;
    color: rgb(17, 46, 65);
    text-transform: uppercase;

}
.content h1{
    font-size: 2rem;
    font-weight: 700;
}
.content span{
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
}
.content h3{
    font-size: 1rem;
    font-weight: 500;
    line-height: 60px;
}
.main-btn{
    height: 45px;
    width: 180px;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 20, 130, 0.726);
    color: rgb(17, 46, 65);
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    /* transition: border 300ms; */
}

.main-btn:hover{
    border: 2px solid #9B78EF;
    background-color: white;
    /* color: rgba(255, 20, 130, 0.726);; */
}
.scrollable-element {
    scrollbar-width: thin;
  }



  /************large screen***/

  @media only screen and (min-width: 700px) {
    .mobile-toogle{
        display: none;
    }
    header{
        height:100vh ;
    }
  }